$group-item-padding: 16px 24px;
$groups-margin: 1rem 0;
$group-item-shadow: 0 0.2px 0.2px #37474f;

.groups {
  margin: $groups-margin;

  &__item {
    width: 100%;
    pointer-events: all;
    cursor: pointer;
  }

  &__icon {
    margin: 0;
  }
}
