$blockquote-margin-bottom: 0;

.mag-card {

  &__header-title {
  margin-top: 0;
}

  &__blockquote {
    border-color: #e91e63;
    margin-bottom: $blockquote-margin-bottom;
  }

  &__blockquote-text {
    margin: 0;
  }
}
