<div class="card-panel grey lighten-5 mag-card">
  <div class="mag-card__header">
    <h4 class="mag-card__header-title">
      {{ title | translate }}
    </h4>
    <a class="btn-floating btn-small waves-effect waves-light red"
       (click)="magModal.openModal()">
      <i class="material-icons">help</i>
    </a>
  </div>
  <div class="mag-card__error" [hidden]="error.code === 0">
    <blockquote class="mag-card__blockquote">
      <h6>{{ "common.error" | translate }}</h6>
      <p class="pink-text mag-card__blockquote-text">{{ error.message | translate }}</p>
    </blockquote>
  </div>
  <div class="mag-card__win" [hidden]="error.code !== 0">
    <blockquote class="mag-card__blockquote_success"
                [innerHtml]="win"></blockquote>
  </div>
  <div class="mag-card__content" [hidden]="error.code !== 0">
    <ng-content></ng-content>
  </div>
</div>

<mag-modal #magModal></mag-modal>
