<div class="card-panel grey lighten-5 mag-card">
  <div class="mag-card__header">
    <h4 class="mag-card__header-title">
      {{ title | translate }}
      <i class="material-icons black-text right mag-card__help-icon"
         (click)="magModal.openModal()">help_outline</i>
    </h4>
  </div>
  <div class="mag-card__error" [hidden]="error.code === 0">
    <blockquote class="mag-card__blockquote">
      <h6>{{ "common.error" | translate }}</h6>
      <p class="pink-text mag-card__blockquote-text">{{ error.message | translate }}</p>
    </blockquote>
  </div>
  <div class="mag-card__win" [hidden]="error.code !== 0">
    <blockquote class="mag-card__blockquote_success"
                [innerHtml]="win"></blockquote>
  </div>
  <div class="mag-card__content" [hidden]="error.code !== 0">
    <ng-content></ng-content>
  </div>
</div>

<mag-modal #magModal
           [algorithm]="algorithm"></mag-modal>
