<mag-card [title]="'rozenbaum.title' | translate"
          [error]="rozenbaumService.error"
          [win]="rozenbaumService.winStrategyValue | translate: rozenbaumService.translateValue">
  <div class="row">
    <div class="col s12 m6 l6 no-padding" *ngFor="let group of rozenbaumService.groupsSorted">
      <table class="striped">
        <thead>
        <tr>
          <th colspan="2"
              class="center-align">
            {{ group.name }}
          </th>
        </tr>
        <tr>
          <th>{{ "common.student" | translate }}</th>
          <th>{{ "common.mark" | translate }}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let student of group.students">
          <td>{{ student.name }}</td>
          <td>{{ student.mark }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</mag-card>

